<nav class="sidebar">
  <div class="nav-items">
<div class="nav-item" routerLinkActive="active">
      <img src="/favicon.ico" alt="logo" class="nav-icon" />
    </div>

<div class="nav-item" routerLinkActive="active">
      <img src="/home.png" alt="Home" class="nav-icon" />
    </div>

<div class="nav-item" routerLinkActive="active">
  <a></a>
      <img src="/cart.png" alt="Cart" class="nav-icon" />
    </div>

<div class="nav-item" routerLinkActive="active">
  <a routerLink="/inventory"></a>
      <img src="/products.png" alt="Box" class="nav-icon" />
    </div>

<div class="nav-item" routerLinkActive="active">
      <a routerLink="/profile">
        <img src="/profile.png" alt="User" class="nav-icon" />
      </a>
    </div>

<div class="nav-item" routerLinkActive="active">
      <img src="/chart.png" alt="Chart" class="nav-icon" />
    </div>
  </div>

  <div class="nav-bottom">
    <div class="nav-item">
      <img src="/cog.png" alt="Settings" class="nav-icon" />
    </div>
  </div>
</nav>
